# Python
.venv/
venv/
env/
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
*.spec
scripts/test_deepseek.py
scripts/test_deepseek01.py

# Django
db.sqlite3
db.sqlite3-journal
*.sqlite3
*.log
media/
staticfiles/
local_settings.py
.env
.env.local
secrets.json

# Logs
logs/*
!logs/.gitkeep


# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Project specific
static/downloads/*
!static/downloads/.gitkeep
!static/downloads/certificates/
static/downloads/certificates/*
!static/downloads/certificates/.gitkeep
diagnose_upload.py
scripts/test_tables/
